{
  "presets": ["react-native", "module:react-native-dotenv"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-do-expressions"],
    ["@babel/plugin-proposal-function-bind"],
    ["@babel/plugin-proposal-export-default-from"],
    ["@babel/plugin-proposal-export-namespace-from"],
    ["@babel/plugin-transform-exponentiation-operator"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".android.js", ".ios.js", ".js", ".graphql"]
      }
    ],
    ["import-graphql"]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-react-jsx-source"]
    }
  }
}
