{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "extensions": [".android.js", ".ios.js", ".js", ".graphql"],
        "alias": {
          "/app": "./src"
        }
      }
    ]
  ]
}
