name: Canary Release

on:
  push:
    branches: [ master ]

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # needs this to pull all tags and branches

    - name: Setup Node for npmjs.org
      uses: actions/setup-node@v1
      with:
        node-version: 10.19.x
        registry-url: 'https://registry.npmjs.org'
        scope: '@apollosproject'

    - name: Install Yarn
      run: npm install -g yarn

    - name: Install Dependencies
      run: yarn

    - name: Canary Release
      run: yarn release:canary --yes
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Setup Node for GPR
      uses: actions/setup-node@v1
      with:
        node-version: 10.19.x
        registry-url: 'https://npm.pkg.github.com'
        scope: '@apollosproject'

    - name: Canary Release
      run: yarn release:canary --yes --registry "http://npm.pkg.github.com"
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
