name: Stable Release

on: workflow_dispatch

jobs:

  npm:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # needs this to pull all tags and branches
        token: ${{ secrets.APOLLOS_ADMIN_TOKEN }}

    - name: Setup Node for npmjs.org
      uses: actions/setup-node@v2
      with:
        registry-url: 'https://registry.npmjs.org'
        scope: '@apollosproject'

    - name: Install Dependencies
      run: yarn

    - name: NPM Release
      run: |
        git config --global user.email "apps@apollos.app"
        git config --global user.name "Apollos Admin"
        yarn release --yes
        git commit --allow-empty -m "chore: first canary build"
        git push
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  templates:

    needs: npm
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        repository: apollosproject/apollos-templates
        token: ${{ secrets.APOLLOS_ADMIN_TOKEN }}

    - uses: actions/setup-node@v2

    - name: Bump
      run: |
        git config --global user.email "apps@apollos.app"
        git config --global user.name "Apollos Admin"
        sleep 120 # this is to insure the tag has been uploaded to Github and the API call will work
        yarn bump

  upgrade-tool:

    needs: templates
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        repository: apollosproject/apollos-upgrade
        token: ${{ secrets.APOLLOS_ADMIN_TOKEN }}

    - uses: actions/setup-node@v2

    - name: Bump
      run: |
        git config --global user.email "apps@apollos.app"
        git config --global user.name "Apollos Admin"
        yarn bump
