name: Next Release

on:
  push:
    branches: [ next ]

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # needs this to pull all tags and branches

    - name: Setup Node for npmjs.org
      uses: actions/setup-node@v2
      with:
        registry-url: 'https://registry.npmjs.org'
        scope: '@apollosproject'

    - name: Install Dependencies
      run: yarn

    - name: Next Release (NPM)
      run: yarn release:next --yes
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Setup Node for GPR
      uses: actions/setup-node@v2
      with:
        registry-url: 'https://npm.pkg.github.com'
        scope: '@apollosproject'

    - name: Next Release (GPR)
      run: yarn release:next --yes --registry "http://npm.pkg.github.com"
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
